* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: grey;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  z-index: 1;
}
body {
  margin: 0px;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  position: relative;
  margin: 0px;
  top: 50px;
  font-size: 26px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 100%;
  margin: 20px;
  padding: 25px;
}

.bookmark {
  position: relative;
  top: 0px;
}

nav {
  background-color: blueviolet;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  color: white;
}
