* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: blueviolet;
  color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  z-index: 1;
}
body {
  margin: 0px;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  margin: 60px 0px 60px 0px;
  font-size: 26px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  margin: auto;
  width: 80%;
  margin: 30px;
  padding: 25px;
}

.bookmark-button {
  position: relative;
  top: -34px;
  width: 80px;

  /* Hier brauche ich unbedingt Hilfe: die Position lässt sich nicht wirklich einstellen */
}

.question {
  margin: auto;
  text-align: center;
}

.answer-button {
  width: 140px;
  height: 50px;
  margin: 20px auto 20px auto;
}

.tagcontainer {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  font-size: 18px;
}

.tag {
  background-color: rgb(182, 182, 182);
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
}

nav {
  background-color: blueviolet;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  color: white;
}
