
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: white;
  font-size: 35px !important;
}

.bookmarkcounter {
  color: rgb(14, 13, 13);
}

.questioncounter {
  color: rgb(14, 13, 13);
}

#questionmark .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: rgb(110, 31, 31);
  font-size: 35px !important;;
}
.card__bookmark-button .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: rgb(0, 0, 0);
  font-size: 50px !important;
}

/* folgende Klasse styled die Klasses, die mit "marked" versehen sind */
.card__bookmark-button.marked .material-symbols-outlined { 
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: rgb(41, 104, 166);
  font-size: 50px !important; 
  transition: 1s ease-in;
}

  
.active {
  color: white;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}


